footer
  .footer-text
    .upper
      .apps-cls
        a.apps(href='') Address:
        a.apps(href='') South Delhi Municipal Corporation-110081
      .ICONS
        i.fab.fa-facebook-square.foot-icon
        i.fab.fa-twitter-square.foot-icon
        i.fab.fa-instagram-square.foot-icon
        i.fas.fa-bell.foot-icon
    br
    h.footer-heading Copyright @ Municipal Corporation Grievance Management System.ALL rights reserved.
