nav#nav.sticky(style="position:relative")
  ul.nav-ul
    li.nav-li
      a.nav-links(href='/#Home') HOME
    li.nav-li
      a.nav-links(href='/RegisterComplaint') REGISTER COMPLAINT
    li.nav-li
      a.nav-links(href='/complaintStatusPage') COMPLAINT STATUS
    li.nav-li
      a.nav-links(href='/#Home') GALLERY
    if name
        li.nav-li
          a.nav-links(href='/profile') #{name}
        li.nav-li
          a.nav-links(href='javascript:;').logout LOGOUT 
    else
        li.nav-li
          a.nav-links(href='/login') LOGIN
        li.nav-li
          a.nav-links(href='/signup') SIGNUP    