doctype html
html
  head
  body
    include nav
    block header 
      p I am home page
    block main
      h1 Content is provided by home page
    block howto
      p following steps are above    
    p It's A Home Page
    include footer
