footer
  .footer-text
    .upper
      .apps-cls
        a.apps(href='') About us
        a.apps(href='') iosApp
        a.apps(href='') AndroidApp
      .ICONS
        i.fab.fa-facebook-square.foot-icon
        i.fab.fa-twitter-square.foot-icon
        i.fab.fa-instagram-square.foot-icon
        i.fas.fa-bell.foot-icon
    br
    h.footer-heading Copyright @ 2019 EVERYONE.ALL rights reserved.
