nav#nav.sticky(style="position:relative")
    ul.nav-ul
        li.nav-li
            a.nav-links(href='') Features
        li.nav-li
            a.nav-links(href='') Review
        li.nav-li
            a.nav-links(href='') Plans
        li.nav-li
            a.nav-links(href='') Signup
