extend base.pug
block content
    .forget-container
        h2 Forget Your Password?
        .block-container
            .forgetEmail-block
                h2 Hello, Friend!
                form.forgetPassword
                    label Email:
                        br
                        input(type='text').forget_email
                        .entry-create
                        .btn-parent
                            button(type="submit").btn.btn-full.form-button Send Token       
            .forgetImage-block
        