extend base.pug
block content
  .manage-container
    .manage-block
        h2 Manage Plans
        p
        a(href="/createPlan") ADD PLAN
        p 
        a(href="/getAllPlans") GET ALLPLAN
        p
        a(href="/updatePlan") UPDATE PLAN
        p
        a(href="/deletePlan") DELETE PLAN