extend base.pug
block content
  .manage-container
    .manageBlock-container
      .managePlan-block
          h2 Manage Plans
          p
            a(href="/createPlan") CREATE PLAN
          p
            a(href="/getAllPlans") GET ALLPLAN
          p
            a(href="/updatePlan") UPDATE PLAN
          p
            a(href="/deletePlan") DELETE PLAN
      .manage-image
              