.plan-child
    .plan-header
        h3 #{plan.name}
        h3
            span.styling-span #{plan.price}$
            | /month
        p That's only #{Math.ceil(plan.price/plan.duration)}$ per meals.
    .plan-feature
        p
            i.fas.fa-check.feature-icon
            |  1 meal every day
        p
            i.fas.fa-check.feature-icon
            |  Order 24/7
        p
            i.fas.fa-check.feature-icon
            |  Access to new creations 
        p
            i.fas.fa-check.feature-icon
            |  #{plan.ratingsAverage}/10
    .plan-btn-container
        a.btn-full.btn I'm hungry
