extend base.pug
block content
    .reset-container
        h2 Reset Your Password
        .resetblock-container
            .resetEmail-block
                form.resetPassword
                    label Token:
                        br
                        input(type='text').reset_token
                    label Password:
                        br
                        input(type='text').reset_Password
                    label Confirm Password:
                        br
                        input(type='text').reset_ConfirmPassword        
                        .entry-create
                        .btn-parent
                            button(type="submit").btn.btn-full.form-button Change Password       
            .resetImage-block
        